
/*
  header
  container
  menu
  checkbox
  input
*/

/*===================================================
                    BLOCK
===================================================*/
/*--------------------------------------------------
This document contains all the major block styles, the outer most elements
inside the <main> tag

The block shouldn't influence its environment, meaning you shouldn't set the
external geometry (margin) or positioning for the block.
--------------------------------------------------*/

.jumbo {
  background: url(../images/jumbo_bg.jpg) bottom center;
  background-size: cover;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
}

.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.more {
  display: flex;
  justify-content: center;
}


.about {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
}


.offer {
  height: 100vh;
  background: url(../images/sds.jpg) center;
  background-color: var(--blueAcntClr);
  background-blend-mode: multiply;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  
}


.clients {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
}


.footer {
  background-color: #f9f0dc;
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
}
















