
/*
  menu item
  list item
  checkbox caption
  header title
*/

/*===================================================
                    ELEMENT
===================================================*/
/*--------------------------------------------------
This document contains all the Blocks Elements styles, the immediate child
elements inside the BLOCK elements

The structure of an element's full name is block-name__element-name. The element
name is separated from the block name with a double underscore (__).

A composite part of a block that can't be used separately from it.
Elements can be nested inside each other
--------------------------------------------------*/

/*.jumbo elements styles*/
.social__item{
  margin-right: 30px;
}

.social__link {
  color: var(--linkClr);
}

.card__head {
  font-size: 1.1em;
  line-height: 1.2em;
}

.card__title {
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--darkText);
  padding-top: 20vh;
}

.card__subtitle {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--darkText);
  padding-top: 10vh;
}

.more__button {
  margin-bottom: 10vh;
  background-color: rgba(234, 223, 53, 0.7);
  border: 1px solid var(--yellAcntClr);
  border-radius: 2px;
  padding: 10px 40px;

  color: var(--darkText);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
/*end of .jumbo elements styles*/


/*.about elements styles*/
.about__left {
  background: url(../images/about_section.jpg) center;
  background-size: cover;
  height: 100vh;
}

.about__right {
  background-color: var(--yellAcntClr);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__article {
  padding: 100px;
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about .article__title {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--darkText);
  padding-bottom: 5vh;
}

.about .article__copy {
  line-height: 20px;
  color: var(--darkText);
}
/*end of .about elements styles*/


/*.offer elements styles*/
.offer__article {
  padding: 100px;
  height: 50%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offer .article__title {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--linkClr);
  padding-bottom: 5vh;
}

.offer .article__copy {
  line-height: 20px;
  color: var(--linkClr);
  width: 50vw;
}
/*end of .offer elements styles*/


/*.clients elements styles*/
.clients__left {
  background: url(../images/clients.jpg) center;
  background-size: cover;
  height: 100vh;
}

.clients__right {
  background-color: var(--blueAcntClr);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clients__article {
  padding: 100px;
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clients .article__title {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(90, 90, 90);
  padding-bottom: 5vh;
}

.clients .article__copy {
  line-height: 20px;
  color: rgb(90, 90, 90);
}
/*end of .clients elements styles*/


/*.footer elements styles*/
.contact__title {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(90, 90, 90);
  padding-bottom: 5vh;
}
/*end of .footer elements styles*/













