
/*
  disabled
  highlighted
  checked
  fixed
  size big
  color yellow
*/

/*===================================================
                    MODIFIER
===================================================*/
/*--------------------------------------------------
This document contains all the styles meant to alter
or modify elements
--------------------------------------------------*/

.card__head--bolded {
  font-weight: 700;
  color: var(--yellAcntClr);
}

































