/*===================================================
                    VARIABLES & FONTS
===================================================*/
/*--------------------------------------------------
This document contains all the variables and fonts used
throughout the entire project
--------------------------------------------------*/





/*==================== VARIABLES ====================*/

:root {
  --bodyClr: #f7f4ed;
  --acntClr: #eadf35;
  --title: 'Raleway', sans-serif;
  --bodyCopy: 'Lato', sans-serif;
  --linkClr: #efece7;
  --darkText: #33302c;
}


/*==================== FONTS ====================*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
























